body {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	overflow-y: scroll;
}

h2 {
	font-weight: 600;
	font-size: 36px;
	color: #808080;
}

h3 {
	font-weight: 500;
	font-size: 32px;
	line-height: 113%;
	text-align: center;
}

h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: white;
}

p {
	color: #868686;
}

#logo {
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

#home-nav {
	height: 50px;
}

#loginButtons {
	padding-top: 13px;
	padding-left: 30px;
}

.justified {
	text-align: justify;
}

.onename {
	border: 1px solid #CCCCCC;
	border-radius: 0;
	box-shadow: 0;
	padding: 10px;
}

.form-control {
	margin-bottom: 8px;
}

.contrib {
	margin: 5px;
}

.panel-content {
	padding: 20px;
}

#login-dropdown-list {
	left:-120px;
	position:absolute;
	top:40px;
	box-shadow: 0px 0px 30px #C6C6C6;
}
