#flyer-container {
	background-color: black;
}

#flyer-upload {
	height: 500px;
	display: none;
}

#flyer-display {
	display: block;
}

#flyer-image {
	height: 250px;
	position: relative;
	overflow: hidden;
	border: 1px solid white;
}
#cover {
	opacity: 0;
	width: 100%;
	display: block;
	transition: opacity 2s;
}
#ipfs-toggle {
	position : absolute;
	display: block;
	top: 15px;
	right: 15px;
	width: 30px;
	z-index: 100;
	opacity: 0;
}
#flyer-image:hover #ipfs-toggle {
	opacity: 0.8;
	transition: opacity .25s ease-in-out;
}

#flyer-title {
	height: 250px;
	position: relative;
	overflow: hidden;
	text-align:center;
	border: 1px solid white;
}

#flyer-info {
	height: 65px;
	background-color: #E6E6E6;
	position: relative;
	font-size: 38px;
	padding-top: 5px;
	border: 1px solid white;
}
#span-left {
	left: 10px;
	position: absolute;
}
#span-center {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
#span-right {
	right: 10px;
	position: absolute;
}

