.inline {
	display: inline;
	float: left;
}

.centered {
	text-align: center;
	line-height: 95%;
}

.div-center {
	width: 100%;
	text-align: center;
}

#home-header {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.header {
	margin-top: 60px;
	display: inline-block;
	height: 80px;
}

#join-types {
	padding-bottom: 50px;
}
.join-group {
	width: 160px;
	display: inline;
	float: left;
}

#stay-tuned {
	padding-top: 25px;
	color: white;
	font-weight: 500;
}

.svg-title {
	padding-top: 12px;
	width: 50px;
	height: 50px;
}

.svg-content {
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
}

#team {
	height: 160px;
	margin-top: 50px;
	display: block;
	/*overflow-x: scroll;*/
}

.team-entry {
	margin-top: 20px;
	margin-left: 20px;
	width: 100px;
	display: inline;
}

.team-member-details {
	padding-top: 20px;
	padding-left: 15px;
	width: 200px;
	word-wrap: break-word;
}

.member-place {
	font-weight: 600;
}

#application-description {
	margin-top: 40px;
	font-size: 16px;
	text-align: justify;
	text-align-last: center;
	font-style: italic;
}

#partners {
	margin-top: 50px;
	display: block;
	height: 150px;
	white-space:nowrap;
}

.partner-entry {
	margin-top: 20px;
	margin-left: 20px;
	height: 100px;
}

.home-incentive {
	margin-top: 40px;
	margin-bottom: 50px;
	background-color: #2BD0E3;
	height: 140px;
}

#incentive-title {
	color: #95E8F1;
	font-size: 96px;
	font-family: 'BluebirdRegular';
	padding-left: 20px;
}

.remaining {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid white;
	color: white;
	font-size: 50px;
	text-align: center;
}

.tickets {
	color: #E1FFA6;
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#home-buttons {
	margin-top: 100px;
	text-align: center;
}

.btn-home {
	margin-left: 30px;
	width: 20%;
	height: 60px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-align: center;
	border: 0px;
	background-color: #E6E6E6;
	font-weight: 300;
	font-size: 22px;
}
#h4intro {
	width: 600px;
}

#nuage {
	width: 100%;
}

#sujet {
	margin-top: 17px;
	padding-left: 15px;
	font-size: 40px;
	font-weight: 600;
	line-height: 0.9;
}
