.inline {
	display: inline;
	float: left;
}

.centered {
	text-align: center;
}

.div-center {
	width: 100%;
	text-align: center;
}

#home-header {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#home-program {
	margin-top: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}

#home-program th {
	border: 1px dashed white;
}

#home-program td {
	border: 1px dashed white;
	padding: 10px;
	padding-bottom: 30px;
}

#home-program h4 {
	line-height: 17px;
}

#home-program .svg-content {
	margin-top: 20px;
}

.header {
	display: inline-block;
}

#join-types {
	padding-bottom: 50px;
}
.join-group {
	width: 160px;
	float: left;
	height: 150px;
}

#stay-tuned {
	padding-top: 25px;
	color: white;
	font-weight: 400;
	font-size: 24px;
}

.svg-title {
	padding-top: 12px;
	width: 50px;
	height: 50px;
	color: black;
}

.svg-content {
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
}

#speakers-title {
	margin-top: 100px;
	margin-bottom: 30px;
}

.speaker {
	height: 170px;
}

#speakers {
	width: 100%;
}

.speaker-img {
	margin-top: 20px;
	margin-left: 20px;
	width: 100px;
	display: inline;
}

.speaker-details {
	padding-top: 20px;
	padding-left: 15px;
	width: 200px;
	word-wrap: break-word;
}

.speaker-name {
	target-new: tab;
	background-color: white;
	border-radius: 4px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

.speaker-place {
	font-weight: 600;
}

#application-description {
	margin-top: 40px;
	font-size: 16px;
	text-align: center;
	font-style: italic;
	opacity: 0;
}

#partners {
	display: block;
	white-space:nowrap;
}

.partner-entry {
	margin-top: 20px;
	margin-left: 20px;
	height: 100px;
}

.home-incentive {
	margin-top: 40px;
	margin-bottom: 50px;
	background-color: #2BD0E3;
	height: 140px;
}

#incentive-title {
	color: #95E8F1;
	font-size: 96px;
	font-family: 'BluebirdRegular';
	padding-left: 20px;
}

.remaining {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid white;
	color: white;
	font-size: 50px;
	text-align: center;
}

.tickets {
	color: #E1FFA6;
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#home-buttons {
	width: 100%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.btn-home {
	margin-left: 10%;
	width: 20%;
	height: 60px;
	letter-spacing: 1px;
	text-align: center;
	border: 0px;
	background-color: #E6E6E6;
	font-weight: 300;
	font-size: 22px;
}
#h4intro {
	width: 777px;
}

#nuage {
	width: 100%;
}

#sujet {
	margin-top: 17px;
	padding-left: 15px;
	font-size: 40px;
	font-weight: 400;
}
