#tickets {
	margin-top: 40px;
	margin-bottom: 60px;
	width: 99%;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
}

.notcentered {
	text-align: left;
	font-weight: 200px;
	font-size: 14px;
}
.notcenteredright {
	text-align: right;
	font-weight: 400px;
	font-size: 18px;
}

.reduction {
	text-align: center;
	font-weight: 200px;
	font-size: 14px;
}

.price {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}
.pass {
	text-align: center;
	font-weight: 400;
	font-size: 18px;
}
#tickets td {
	padding: 10px;
	border: 1px dashed white;
}

#boxes-wrapper {
	padding-top: 40px;
	padding-bottom: 20px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	font-size: 120%;
	font-weight: 400;
}

.box-title {
	padding-bottom: 20px;
	font-weight: 400;
}

.inline-boxes {
	padding-top: 30px;
	display: inline-block;
	width: 400px;
	height: 150px;
	border: 1px solid black;
	margin: 1em;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px dashed white;
}
